<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />

    <title>Blissful Mind</title>
  </head>
  <body>
    <header>
      <ul class="navbar">
        <a href="index.html" class="logo">Blissful <span>Mind</span></a>

        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="#contact">contact</a></li>

        <!--<div class="top-btn">
                <a href="#" class="nav-btn">Login</a>
            </div>-->
      </ul>
    </header>

    <!--Home Section Code-->

    <section class="home" id="home">
      <div class="home-content">
        <h1>Transforming Lives</h1>
        <h3><span class="multiple=text">Empowering Minds</span></h3>

        <p>
          Empowering your journey to mindfulness, self-care, and mental
          wellness.
        </p>

        <a href="#" class="btn mt-15px">Join Us</a>
      </div>
    </section>
  </body>
</html>
