<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />

    <title>Our Services</title>
</head>
<body>
    <header>
        <a href="index.html" class="logo">Blissful <span>Mind</span></a>
  
        <ul class="navbar">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="service.html">Services</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="#contact">contact</a></li>
  
          <!--<div class="top-btn">
                  <a href="#" class="nav-btn">Login</a>
              </div>-->
        </ul>
      </header>
    <div class="section">
        <div class="title">
            <h2>Our Services</h2>
        </div>
        <div class="services">
            <div class="card">
                <div class="icon">
                </div>
                <h3>Guided Meditation</h3>
                <p>Pre-recorded audio/video meditation sessions.<br>
                    Live sessions with professional instructors.<br>
                    Meditation for specific goals (e.g., stress relief, better sleep, mindfulness, focus).</p>
                <h3>Mental Health Workshops</h3>
                <p>Online or on-site workshops conducted by mental health professionals.<br>
                    Topics like managing anxiety, improving self-esteem, or dealing with burnout.</p>
                <h3>Therapy Matching Services</h3>
                <p>A directory of licensed therapists.<br>
                    Filters based on specialization, language, gender, and location.<br>
                    Integration of appointment scheduling.</p>
            </div>
           
        </div>
    </div>
</body>
</html>